.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100rem;
    height: 100rem;
    object-fit: cover;
    z-index: 1;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}